body {
    background-color: white;
    color: black;
  }
  .primary {
    background-image: url("../../Image/heros.png");
    background-repeat: no-repeat;
    background-position: 60% -70%;
    position: absolute;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    top: 0;
    left: 0;
  }
  main {
    position: relative;
    height: 90vh;
  
    overflow: hidden;
  }
  .right-circle {
    background: #7462E1;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    margin-left: 60%;
    position: absolute;
  }
  #icon a:hover {
    color: #7462E0;
  }
  
  .content {
    position: absolute;
    margin-left: 120px;
    margin-top: 120px;
    height: 400px;
    width: 500px;
  }
  
  .content p {
    color: #A4A2B2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .content h1 {
    font-size: 50px;
    color: #120844;
    margin-top: 80px;
    margin-right: 120px;
    line-height: 70px;
  }
  
  .content button {
    background-color: #7462E0;
    border: none;
    color: white;
    margin-top: 20px;
    width: 100px;
    height: 40px;
  }